# Entornos virtuales
.venv/
venv/
pip
activate*
pyvenv.cfg

# Archivos de Python
__pycache__/
*.pyc

# Base de datos local
db.sqlite3

# Archivos temporales
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db
